:root {
    --rb-toastify-color-light: var(--rb-palette-secondary-main);
    --rb-toastify-color-dark: var(--rb-palette-secondary-main);
    --rb-toastify-color-info: var(--rb-palette-info-main);
    --rb-toastify-color-success: var(--rb-palette-success-main);
    --rb-toastify-color-warning: var(--rb-palette-warning-main);
    --rb-toastify-color-error: var(--rb-palette-error-main);
    --rb-toastify-color-transparent: rgba(255, 255, 255, 0.7);
    --rb-toastify-icon-color-info: var(--rb-toastify-color-info);
    --rb-toastify-icon-color-success: var(--rb-toastify-color-success);
    --rb-toastify-icon-color-warning: var(--rb-toastify-color-warning);
    --rb-toastify-icon-color-error: var(--rb-toastify-color-error);
    --rb-toastify-toast-width: 320px;
    --rb-toastify-toast-offset: 16px;
    --rb-toastify-toast-top: max(var(--rb-toastify-toast-offset), env(safe-area-inset-top));
    --rb-toastify-toast-right: max(var(--rb-toastify-toast-offset), env(safe-area-inset-right));
    --rb-toastify-toast-left: max(var(--rb-toastify-toast-offset), env(safe-area-inset-left));
    --rb-toastify-toast-bottom: max(var(--rb-toastify-toast-offset), env(safe-area-inset-bottom));
    --rb-toastify-toast-background: #fff;
    --rb-toastify-toast-min-height: 52px;
    --rb-toastify-toast-max-height: 500px;
    --rb-toastify-toast-bd-radius: 12px;
    --rb-toastify-font-family: rb-cheltenham-small,sans-serif;
    --rb-toastify-z-index: 9999;
    --rb-toastify-text-color-light: var(--rb-palette-text-primary);
    --rb-toastify-text-color-dark: var(--rb-palette-text-primary);
    --rb-toastify-text-color-info: var(--rb-palette-info-contrastText);
    --rb-toastify-text-color-success: var(--rb-palette-success-contrastText);
    --rb-toastify-text-color-warning: var(--rb-palette-warning-contrastText);
    --rb-toastify-text-color-error: var(--rb-palette-error-contrastText);
    --rb-toastify-spinner-color: #616161;
    --rb-toastify-spinner-color-empty-area: #e0e0e0;
    --rb-toastify-color-progress-light: linear-gradient(to right,
            #4cd964,
            #5ac8fa,
            #007aff,
            #34aadc,
            #5856d6,
            #ff2d55);
    --rb-toastify-color-progress-dark: #bb86fc;
    --rb-toastify-color-progress-info: var(--rb-toastify-color-info);
    --rb-toastify-color-progress-success: var(--rb-toastify-color-success);
    --rb-toastify-color-progress-warning: var(--rb-toastify-color-warning);
    --rb-toastify-color-progress-error: var(--rb-toastify-color-error);
    --rb-toastify-color-progress-bgo: 0.2;
}

.Toastify__toast-container {
    z-index: var(--rb-toastify-z-index);
    -webkit-transform: translate3d(0, 0, var(--rb-toastify-z-index));
    position: fixed;
    padding: 4px;
    width: var(--rb-toastify-toast-width);
    box-sizing: border-box;
    color: #fff;
}

.Toastify__toast-container--top-left {
    top: var(--rb-toastify-toast-top);
    left: var(--rb-toastify-toast-left);
}

.Toastify__toast-container--top-center {
    top: var(--rb-toastify-toast-top);
    left: 50%;
    transform: translateX(-50%);
}

.Toastify__toast-container--top-right {
    top: var(--rb-toastify-toast-top);
    right: var(--rb-toastify-toast-right);
}

.Toastify__toast-container--bottom-left {
    bottom: var(--rb-toastify-toast-bottom);
    left: var(--rb-toastify-toast-left);
}

.Toastify__toast-container--bottom-center {
    bottom: var(--rb-toastify-toast-bottom);
    left: 50%;
    transform: translateX(-50%);
}

.Toastify__toast-container--bottom-right {
    bottom: var(--rb-toastify-toast-bottom);
    right: var(--rb-toastify-toast-right);
}

@media only screen and (max-width : 480px) {
    .Toastify__toast-container {
        width: 100vw;
        padding: 0;
        left: env(safe-area-inset-left);
        margin: 0;
    }

    .Toastify__toast-container--top-left,
    .Toastify__toast-container--top-center,
    .Toastify__toast-container--top-right {
        top: env(safe-area-inset-top);
        transform: translateX(0);
    }

    .Toastify__toast-container--bottom-left,
    .Toastify__toast-container--bottom-center,
    .Toastify__toast-container--bottom-right {
        bottom: env(safe-area-inset-bottom);
        transform: translateX(0);
    }

    .Toastify__toast-container--rtl {
        right: env(safe-area-inset-right);
        left: initial;
    }
}

.Toastify__toast {
    --y: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    min-height: var(--rb-toastify-toast-min-height);
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: var(--rb-toastify-toast-bd-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: var(--rb-toastify-toast-max-height);
    font-family: var(--rb-toastify-font-family);
    cursor: default;
    direction: ltr;
    /* webkit only issue #791 */
    z-index: 0;
    overflow: hidden;
}

.Toastify__toast--stacked {
    position: absolute;
    width: 100%;
    transform: translate3d(0, var(--y), 0) scale(var(--s));
    transition: transform 0.3s;
}

.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body,
.Toastify__toast--stacked[data-collapsed] .Toastify__close-button {
    transition: opacity 0.1s;
}

.Toastify__toast--stacked[data-collapsed=false] {
    overflow: visible;
}

.Toastify__toast--stacked[data-collapsed=true]:not(:last-child)>* {
    opacity: 0;
}

.Toastify__toast--stacked:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: calc(var(--g) * 1px);
    bottom: 100%;
}

.Toastify__toast--stacked[data-pos=top] {
    top: 0;
}

.Toastify__toast--stacked[data-pos=bot] {
    bottom: 0;
}

.Toastify__toast--stacked[data-pos=bot].Toastify__toast--stacked:before {
    transform-origin: top;
}

.Toastify__toast--stacked[data-pos=top].Toastify__toast--stacked:before {
    transform-origin: bottom;
}

.Toastify__toast--stacked:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    transform: scaleY(3);
    z-index: -1;
}

.Toastify__toast--rtl {
    direction: rtl;
}

.Toastify__toast--close-on-click {
    cursor: pointer;
}

.Toastify__toast-body {
    margin: auto 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.Toastify__toast-body>div:last-child {
    word-break: break-word;
    -ms-flex: 1;
    flex: 1;
}

.Toastify__toast-icon {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    width: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
}

.Toastify--animate {
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

.Toastify--animate-icon {
    animation-fill-mode: both;
    animation-duration: 0.3s;
}

@media only screen and (max-width : 480px) {
    .Toastify__toast {
        margin-bottom: 0;
        border-radius: 0;
    }
}

.Toastify__toast-theme--dark {
    background: var(--rb-toastify-color-dark);
    color: var(--rb-toastify-text-color-dark);
}

.Toastify__toast-theme--light {
    background: var(--rb-toastify-color-light);
    color: var(--rb-toastify-text-color-light);
}

.Toastify__toast-theme--colored.Toastify__toast--default {
    background: var(--rb-toastify-color-light);
    color: var(--rb-toastify-text-color-light);
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    color: var(--rb-toastify-text-color-info);
    background: var(--rb-toastify-color-info);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    color: var(--rb-toastify-text-color-success);
    background: var(--rb-toastify-color-success);
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
    color: var(--rb-toastify-text-color-warning);
    background: var(--rb-toastify-color-warning);
}

.Toastify__toast-theme--colored.Toastify__toast--error {
    color: var(--rb-toastify-text-color-error);
    background: var(--rb-toastify-color-error);
}

.Toastify__progress-bar-theme--light {
    background: var(--rb-toastify-color-progress-light);
}

.Toastify__progress-bar-theme--dark {
    background: var(--rb-toastify-color-progress-dark);
}

.Toastify__progress-bar--info {
    background: var(--rb-toastify-color-progress-info);
}

.Toastify__progress-bar--success {
    background: var(--rb-toastify-color-progress-success);
}

.Toastify__progress-bar--warning {
    background: var(--rb-toastify-color-progress-warning);
}

.Toastify__progress-bar--error {
    background: var(--rb-toastify-color-progress-error);
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background: var(--rb-toastify-color-transparent);
}

.Toastify__close-button {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease;
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: 1;
}

.Toastify__close-button--light {
    color: #000;
    opacity: 0.3;
}

.Toastify__close-button>svg {
    fill: currentColor;
    height: 16px;
    width: 14px;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
    opacity: 1;
}

@keyframes Toastify__trackProgress {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.Toastify__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--rb-toastify-z-index);
    opacity: 0.7;
    transform-origin: left;
    border-bottom-left-radius: var(--rb-toastify-toast-bd-radius);
}

.Toastify__progress-bar--animated {
    animation: Toastify__trackProgress linear 1 forwards;
}

.Toastify__progress-bar--controlled {
    transition: transform 0.2s;
}

.Toastify__progress-bar--rtl {
    right: 0;
    left: initial;
    transform-origin: right;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: var(--rb-toastify-toast-bd-radius);
}

.Toastify__progress-bar--wrp {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: var(--rb-toastify-toast-bd-radius);
}

.Toastify__progress-bar--wrp[data-hidden=true] {
    opacity: 0;
}

.Toastify__progress-bar--bg {
    opacity: var(--rb-toastify-color-progress-bgo);
    width: 100%;
    height: 100%;
}

.Toastify__spinner {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100%;
    border-color: var(--rb-toastify-spinner-color-empty-area);
    border-right-color: var(--rb-toastify-spinner-color);
    animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, var(--y), 0);
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, var(--y), 0);
    }
}

@keyframes Toastify__bounceInLeft {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, var(--y), 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, var(--y), 0);
    }
}

@keyframes Toastify__bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__bounceOutUp {
    20% {
        transform: translate3d(0, calc(var(--y) - 10px), 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, calc(var(--y) + 20px), 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

@keyframes Toastify__bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

@keyframes Toastify__bounceOutDown {
    20% {
        transform: translate3d(0, calc(var(--y) - 10px), 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, calc(var(--y) + 20px), 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
    animation-name: Toastify__bounceInLeft;
}

.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
    animation-name: Toastify__bounceInRight;
}

.Toastify__bounce-enter--top-center {
    animation-name: Toastify__bounceInDown;
}

.Toastify__bounce-enter--bottom-center {
    animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
    animation-name: Toastify__bounceOutLeft;
}

.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
    animation-name: Toastify__bounceOutRight;
}

.Toastify__bounce-exit--top-center {
    animation-name: Toastify__bounceOutUp;
}

.Toastify__bounce-exit--bottom-center {
    animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes Toastify__zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.Toastify__zoom-enter {
    animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
    animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes Toastify__flipOut {
    from {
        transform: translate3d(0, var(--y), 0) perspective(400px);
    }

    30% {
        transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.Toastify__flip-enter {
    animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
    animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
    from {
        transform: translate3d(110%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, var(--y), 0);
    }
}

@keyframes Toastify__slideInLeft {
    from {
        transform: translate3d(-110%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, var(--y), 0);
    }
}

@keyframes Toastify__slideInUp {
    from {
        transform: translate3d(0, 110%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, var(--y), 0);
    }
}

@keyframes Toastify__slideInDown {
    from {
        transform: translate3d(0, -110%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, var(--y), 0);
    }
}

@keyframes Toastify__slideOutRight {
    from {
        transform: translate3d(0, var(--y), 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(110%, var(--y), 0);
    }
}

@keyframes Toastify__slideOutLeft {
    from {
        transform: translate3d(0, var(--y), 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-110%, var(--y), 0);
    }
}

@keyframes Toastify__slideOutDown {
    from {
        transform: translate3d(0, var(--y), 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 500px, 0);
    }
}

@keyframes Toastify__slideOutUp {
    from {
        transform: translate3d(0, var(--y), 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -500px, 0);
    }
}

.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
    animation-name: Toastify__slideInLeft;
}

.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
    animation-name: Toastify__slideInRight;
}

.Toastify__slide-enter--top-center {
    animation-name: Toastify__slideInDown;
}

.Toastify__slide-enter--bottom-center {
    animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
    animation-name: Toastify__slideOutLeft;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
    animation-name: Toastify__slideOutRight;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

.Toastify__slide-exit--top-center {
    animation-name: Toastify__slideOutUp;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

.Toastify__slide-exit--bottom-center {
    animation-name: Toastify__slideOutDown;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes Toastify__spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}